body {
  background: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Sleek/nightsky.jpg) no-repeat center center fixed;
  padding-top: 15px;
  color: rgb(34, 32, 32);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Balsamiq Sans;

}


.item {
  margin: 0 0 10px;
  position: relative;
}

.title{
  background: rgba(0,0,0,.5);
  border: #162324 solid 1px;

  padding: .5em;
  border-radius: 1em;
  width: 60%;
  margin: auto ;
  margin-bottom: 1em;

}

h2 {
  margin:0;
  font-size: 6em;
  text-align: center;
}

h1 {
  margin-top: 0;
  text-align: center;
  font-size: 50px;
}


html {
  padding: 0 20px; 
}
.img {

  box-sizing: border-box;
  width:95% !important;
  height: auto !important;
  border: 5px solid rgb(35, 33, 33);
  border-radius: 1em;
  /* border-image: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Sleek/nightsky.jpg) 100; */
} 
img:hover{
  box-shadow: 5px 5px #162324;

  
} 

.caption {
  display: none;
  color: rgb(240, 226, 226);
  position: absolute;
  /* bottom: 0; */
  top: 0;
  width:95%;
  padding: 10px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  font-family: Pacifico;
  text-align: center;


}
.border{
  border: solid 2px rgb(243, 247, 243);
}
.caption a {
  color: rgb(222, 215, 215);
}

.item:hover .caption {
  display: block;
}

.grid {
  
 column-count:3;
 column-gap: 10px;
}

.caption{
  border-radius: 6em;
  padding-bottom:1em;
  /* padding-top: 0; */

  
  
}

.footer{
  border: #162324 solid 1px;
  background: rgba(0,0,0,.5);
  text-align: center;
  padding: .5em;
  font-size: 2em;
  color: rgb(243, 248, 250)!important;
  list-style: none;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 1em;
  border-radius: 1em;
}

.social-list__item {
  margin: 0 .5em;
  font-size: 1.5em;
  
}

.social-list__link{
  color: #162324;
}
body{
  background: linear-gradient(90deg, hsla(187, 82%, 65%, 1) 0%, hsla(65, 77%, 63%, 1) 50%, hsla(327, 67%, 74%, 1) 100%);  background-size: 400% 400%;

  animation: gradient 10s ease infinite;

}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
